body {
			  margin: 0 auto; /*水平居中*/
			  padding: 0;
			  width: 1000px;
			  height: 1000px;
			  border: 1px solid blue;
			  font-size: 12px;
			}
					
					
			.outerDiv {
			  width: 600px;
			  height: 600px;
			  
			}
			
			/*定义常用字体样式*/
			.font1 {
			  font-weight: bold;
			  font-size: 20px;
			  margin-left: 5px;
			  margin-top: 2px;
			}
			
			/*去掉超链接的下划线*/
			a {
			  text-decoration: none;
			}
					
			span a {
			  font-size: 15px;
			}
			
			a:hover {
			  /*text-decoration: underline;*/
			  color: red;
			}
					
			.spanCls1 {
			  /*background-color: pink;*/
			  display: block; /*将其变成块,适应整个div*/
			  margin-top: 2px;
			}
			
			/*span中的超链接的位置*/
			.spanCls1 a {
			  margin-left: 390px; 
			}
					
			.faceul {
			  width: 500px;
			  height: 100px;
			  /*border: 1px solid red;*/
			  padding: 0px; /*去掉填充*/
			  list-style-type: none; /*去掉li的标记*/
			}
					
			.faceul li {
			  float: left; /*左浮动,水平放置*/
			  /*border: 1px solid black;*/
			  width: 160px;
			  height: 90px;
			  padding: 0;
			  /*background-color: pink;*/
			  margin-left: 5px;
			  margin-top: 5px;
			  text-align: center; /*图片和文本居中*/
			}
					
			.faceul img {
			  width: 80px;
			  height: 80px;
			  margin-top: 5px;
			  margin-bottom: 2px;
			}
			
			
			#header{
				width: 960px;
				height: 30px;
				margin: 0,auto;
				font-size: x-large;
			}
			#parent {
				width: 1000px;
				height: 620px;
				/*border: 1px dashed black;*/
				margin: 20px auto;
				background-color:;

			}
			
			#parent div {
				width: 750px;
				height: 600px;
				background-color: ;
				text-align: left;
				line-height: 20px;
				margin: 5px 10px;
				float: left;
				
			}
			
			#parent #div1 {
				/*float: right;*/
				background-color:black;
				line-height: 40px;
				height: 600px;
				width: 150px;
				font-size:medium
			}